body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #595656;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    
}

.container {
    position: relative;
    width: 800px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header {
    text-align: left;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    color: #2a2a2a;
}

.header p {
    margin: 5px 0;
    color: #2a2a2a;
    line-height: 1.8;
}

.header a {
    color: #00bfff;
    text-decoration: none;
}

.section {
    margin-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section h2 {
    background-color: #48443c;
    color: #ffffff;
    padding: 10px;
    margin: 0 -20px 20px -20px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section p {
    margin: 0 0 10px 0;
    color: #2a2a2a;
    padding-right: 20px;
    padding-left: 20px; 
}


.section ul {
    padding-left: 20px;
}

.section ul li {
    list-style-type: disc;
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    border-bottom-left-radius: 10px;
}

a {
    color: #00bfff;
    text-decoration: none;
}

.profile img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 20px;
    right: 65px;
}

.khung-mau {
    width: 280px;
    height: 280px;
    float: right; 
    margin-right: 20px; 
    margin-top: -20px;
    background-color: #48443c; 
    box-sizing: borderrgba(255, 0, 0, 0.556); 
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
